/* Extra small devices (portrait phones, less than 576px) */
@media screen and (min-width: 200px) and (max-width: 575px) and (orientation: portrait) {
  div.container {
    background-color: darkcyan;
    border: 10px solid lightblue;
  }
}

/* Extra Small devices (landscape phones, less than 768px) */
@media screen and(min-width: 200px) and (max-width: 915px) and (orientation: landscape) {
  div.container {
    background-color: darkcyan;
    border: 10px solid lightblue;
  }
}

/* Medium devices (tablets, less than 992px) */
@media screen and (min-width: 576px) and (max-width: 992px) and (orientation: portrait) {
  div.container {
    background-color: darkmagenta;
    border: 10px solid darkgoldenrod;
  }
}

/* Large devices (desktops, less than 1200px) */
@media screen and (min-width: 916px) and (max-width: 1200px) and (orientation: landscape) {
  div.container {
    background-color: darkslategrey;
    border: 10px solid violet;
  }
}